<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="fonts">
        <h2 class="fonts">
            Подключение шрифтов
        </h2>
        <p>Есть 2 спооба подключения</p>
        <p>
            <a href="https://nomail.com.ua/">noMail - бесплатный каталог шрифтов</a>
            <a href="https://fonts.google.com/">google fonts</a>
            <a href="https://www.font2web.com/">Конвектор шрифтов</a>
        </p>
        <p>
            Скачиваем шрифты с сайта. Затем разорхивируем в эту папку
            нужные файлы прогоняем через конвектор. разорхивируем архив, потом в папке font скопируем файлы они же конечные. Также с файла .css забераем код

        </p>
    </div>
    <div class="icon">
        <a href="https://icomoon.io/app/#/select">efefef</a>
    </div>
</body>
</html>