<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Numans&family=Nunito:wght@400;600;700&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Comfortaa:wght@700&family=Numans&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@400;500;600;700;800&family=Numans&family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Магазин Вин</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <!-- header -->
            <header class="header">
            <div class="container">
                <div class="header__title"><p>ДОСТУПНА СРОЧНАЯ ДОСТАВКА ПО МОСКВЕ - <span>ДЕТАЛЬНЫЕ УСЛОВИЯ</span></p></div>
                <div class="header__row">
                    <div class="header__row-item">
                        <div class="header__container-logo">
                            <img src="img/logo.png" alt="logo">
                            <p class="logo-text">винная мельница</p>
                        </div>
                    </div>
                    <div class="header__row-item">
                        <input type="text" id="input">
                        <button><img src="img/Vector (2).png" alt=""></button>
                    </div>
                    <div class="header__row-item">
                        <div class="header__row-registrasio">
                            <div class="header__row-registrasio-item">
                                <div class="header__reg-vih">
                                    <p class="gray_text">Регистрация</p>
                                    <p class="gray_text">Вход</p>
                                </div>
                            </div>
                            <div class="header__row-registrasio-item">
                                <p class="lich_kab">Личный кабинет</p>
                            </div>
                        </div>
                        <div class="header__registrasio city">
                            <div class="header__row-registrasio-item mos-aft">
                                <p class="gray_text mosk">Москва</p>
                                <p class="tel">063 658 32 21</p>
                            </div>
                        </div>
                        <div class="header__registrasio bascket">
                            <div class="header__row-registrasio-item">
                                <p class="gray_text">Корзина: 0</p>
                                <p class="summa">0 р</p>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="container_background">
                        <ul class="list_nav">
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Вино</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Игристое</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Виски</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Коньяк</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Арманьяк</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Ром</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Водка</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Ликер</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Коктейли</a></li>
                            <li class="list_nav-item"><a href="#" class="list_nav-link">Деликатесы</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            </header>
            <!-- banner -->
            <section class="banner">
            <div class="container container_background container_banner">
                <div class="banner_container">
                    <img src="img/главный баннер для обложки.jg" alt="" class="glavn_banner">
                </div>
                <div class="banner-row">
                    <div class="banner-row-item">
                        <p class="banner-row_text">НА ТЕРРИТОРИИ БОРДО</p>
                        <p class="banner-row_title">БРЕНДИРОВАНИЕ ВИН</p>
                    </div>
                    <div class="banner-row-item">
                        <p class="banner-row_text">ЧТО ДЕЛАЕТ НАС ОСОБЕННЫМИ?</p>
                        <p class="banner-row_title">БЕСЕДА С СОМЕЛЬЕ</p>
                    </div>
                    <div class="banner-row-item">
                        <p class="banner-row_text">С ИНТЕРЕСНЫМИ ИНГРЕДИЕНТАМИ</p>
                        <p class="banner-row_title">ФИРМЕННЫЕ КОКТЕЙЛИ</p>
                    </div>
                </div>
            </div>
            </section>
            <!-- main -->
            <section class="main">
                <div class="container container_background">
                    <div class="main-row">
                        <div class="main_form">
                            <div class="main_form-column">
                                <!--forma one -->
                                <div class="main-form_one">
                                    <div class="main_one-two">
                                        <p class="main_one-color">Цвет</p>
                                        <button class="main_one-btn"></button>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two" class="main-input">
                                            </div>
                                            <label for="one-two" class="one-two">Белое</label>
                                        </div>
                                        <p class="main_one-number">9</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Красное</label>
                                        </div>
                                        <p class="main_one-number">21</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Розовое</label>
                                        </div>
                                        <p class="main_one-number">13</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Прочее</label>
                                        </div>
                                        <p class="main_one-number">9</p>
                                    </div>
                                </div>

                                <div class="main-form_one">
                                    <div class="main_one-two">
                                        <p class="main_one-color">Сладость</p>
                                        <button class="main_one-btn"></button>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two" class="main-input">
                                            </div>
                                            <label for="one-two" class="one-two">Брют</label>
                                        </div>
                                        <p class="main_one-number">9</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Десертное</label>
                                        </div>
                                        <p class="main_one-number">21</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Крепленное</label>
                                        </div>
                                        <p class="main_one-number">13</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Нон-Дозаж</label>
                                        </div>
                                        <p class="main_one-number">9</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Полусладкое</label>
                                        </div>
                                        <p class="main_one-number">9</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">Полусухое</label>
                                        </div>
                                        <p class="main_one-number">21</p>
                                    </div>
                                    <div class="main_one-two">
                                        <div class="main-wrap">
                                            <div class="q">
                                                <input type="checkbox" id="one-two">
                                            </div>
                                            <label for="one-two" class="one-two">сухое</label>
                                        </div>
                                        <p class="main_one-number">13</p>
                                    </div>
                                </div>

                                <div class="main-form_two">
                                    <div class="main-form-two">
                                        <p class="form-two-text">Цена</p>
                                        <button class="main_two-btn"></button>
                                    </div>
                                    <div class="form-two-block">
                                        <div class="form-two-row">
                                            <input type="text" placeholder="ОТ" class="main-form-input">
                                            <input type="text" placeholder="ДО" class="main-form-input">
                                            <button class="form-two-row-btn">ОК</button>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="main-form-three">
                                    <div class="main-form-three-row">
                                        <p class="form-three-text">Страна</p>
                                        <button class="gorm-three-bnt"></button>
                                    </div>
                                    <div class="main-form-three-row">
                                        <p class="form-three-text">Регион</p>
                                        <button class="gorm-three-bnt"></button>
                                    </div>
                                    <div class="main-form-three-row">
                                        <p class="form-three-text">Классификация</p>
                                        <button class="gorm-three-bnt"></button>
                                    </div>
                                    <div class="main-form-three-row">
                                        <p class="form-three-text">Сорт винограда</p>
                                        <button class="gorm-three-bnt"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- content -->
                        <div class="main_content">
                            <div class="main-select-row">
                                <p class="main-select-text">Бестселлеры</p>
                                <ul class="main-select-list">
                                    <li class="main-select-item">Цена</li>
                                    <li class="main-select-item">Производитель A-Z</li>
                                    <li class="main-select-item">Винтаж</li>
                                    <li class="main-select-item">Новинки</li>
                                    <li class="main-select-item">Популярные</li>
                                </ul>
                            </div>
                            <div class="main-menu-row">

                                <div class="main-menu-row-three">
                                    <div class="main-row-item">
                                    <div class="main-row-background">
                                        <img src="img/butilka.png" alt="" class="main-row-background-img">
                                    </div>
                                    <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                    <p class="main-row-subtitle">2009/0.75 л</p>
                                    <div class="main-contri">
                                        <img src="img/fl.png" alt="" class="main-contri-img">
                                        <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                    </div>
                                    <div class="cena-row">
                                        <div class="cena-item-one">
                                            <div class="cena-block">
                                                <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                <p class="cena-block-subtitle">90 000 р</p>
                                            </div>
                                        </div>
                                        <button class="cena-btn">В КОРЗИНУ</button>
                                    </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                </div>

                                
                                
                            </div>
                            <div class="main-menu-row">

                                <div class="main-menu-row-three">
                                    <div class="main-row-item">
                                    <div class="main-row-background">
                                        <img src="img/butilka.png" alt="" class="main-row-background-img">
                                    </div>
                                    <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                    <p class="main-row-subtitle">2009/0.75 л</p>
                                    <div class="main-contri">
                                        <img src="img/fl.png" alt="" class="main-contri-img">
                                        <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                    </div>
                                    <div class="cena-row">
                                        <div class="cena-item-one">
                                            <div class="cena-block">
                                                <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                <p class="cena-block-subtitle">90 000 р</p>
                                            </div>
                                        </div>
                                        <button class="cena-btn">В КОРЗИНУ</button>
                                    </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                </div>

                                
                                
                            </div>
                            <div class="main-menu-row">

                                <div class="main-menu-row-three">
                                    <div class="main-row-item">
                                    <div class="main-row-background">
                                        <img src="img/butilka.png" alt="" class="main-row-background-img">
                                    </div>
                                    <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                    <p class="main-row-subtitle">2009/0.75 л</p>
                                    <div class="main-contri">
                                        <img src="img/fl.png" alt="" class="main-contri-img">
                                        <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                    </div>
                                    <div class="cena-row">
                                        <div class="cena-item-one">
                                            <div class="cena-block">
                                                <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                <p class="cena-block-subtitle">90 000 р</p>
                                            </div>
                                        </div>
                                        <button class="cena-btn">В КОРЗИНУ</button>
                                    </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                    <div class="main-row-item">
                                        <div class="main-row-background">
                                            <img src="img/butilka.png" alt="" class="main-row-background-img">
                                        </div>
                                        <p class="main-row-title">L’ERMITE HERMITAGE</p>
                                        <p class="main-row-subtitle">2009/0.75 л</p>
                                        <div class="main-contri">
                                            <img src="img/fl.png" alt="" class="main-contri-img">
                                            <p class="main-contri-text">франция/M.CHAPOUTIER</p>
                                        </div>
                                        <div class="cena-row">
                                            <div class="cena-item-one">
                                                <div class="cena-block">
                                                    <p class="cena-block-title">ЦЕНА ЗА 1 ШТ</p>
                                                    <p class="cena-block-subtitle">90 000 р</p>
                                                </div>
                                            </div>
                                            <button class="cena-btn">В КОРЗИНУ</button>
                                        </div>
                                    </div>
                                </div>

                                
                                
                            </div>
                            <div class="main-link">
                                <a href="#" class="main-link-text">СМОТРЕТЬ ВСЕ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <!-- help -->
            <section class="help">
                <div class="container container_background">
                    <div class="help-banner">
                        <div class="help-banner-item">
                            <p class="help-title">Sommelier Choice</p>
                            <p class="help-subtitle">НЕ УВЕРЕНЫ В ВЫБОРЕ? МЫ ГОТОВЫ ПОМОЧЬ!</p>
                            <p class="help-text">ЗАКАЗАТЬ КОНСУЛЬТАЦИЮ</p>
                        </div>
                    </div>
                    <div class="help-row">
                        <p class="help-row-item">Благодаря рекомендациям наших опытных кавистов, вы сможете не только приобрести ту самую бутылку 
                            вина, но и узнать много нового о сочетаниях, подборе гастрономической пары, необходимости декантации, хранении и 
                            сервировке.</p>
                        <p class="help-row-item">Мы с удовольствием поделимся с Вами самыми главными винными секретами, а также поможем подобрать 
                            идеальные букет и вкус, соответствующие поводу, вашим предпочтениям и статусу.</p>
                    </div>
                    <p class="help-link_text"><a href="#" class="help-link">УЗНАТЬ БОЛЬШЕ</a></p>
                </div>
            </section>
            <!-- forma end -->
            <section class="form-end">
                <div class="container container_background">
                    <div class="form-end-back">
                        <div class="form-end_feedbek">
                            <p class="form-end_feedbek-title">ПОДПИСАТЬСЯ НА EMAIL РАССЫЛКУ</p>
                            <p class="form-end_feedbek-email">EMAIL</p>
                            <form action="" class="form-end_feedbek-form">
                                <input type="text" class="form-end_feedbek-input">
                                <button class="footer-end_btn">Отправить</button>
                                <div class="soth_set" class="form-end_feedbek-row">
                                    <a href="#" class="form-end_feedbek-link"><img src="img/f.png" alt="" class="form-end_feedbek-img"></a>
                                    <a href="#" class="form-end_feedbek-link"><img src="img/inst.png" alt="" class="form-end_feedbek-img"></a>
                                    <a href="#" class="form-end_feedbek-link"><img src="img/telegram.png" alt="" class="form-end_feedbek-img"></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- footer -->
        <footer class="footer">
            <div class="container container_background">
                <div class="footer-row">
                    <div class="footer-one">
                    <ul class="footer-list">
                        <li class="footer-list-item">Shop</li>
                        <li class="footer-list-item">History</li>
                        <li class="footer-list-item">Michel</li>
                        <li class="footer-list-item">Values</li>
                        <li class="footer-list-item">Biodynamics</li>
                    </ul>
                    <ul class="footer-list">
                        <li class="footer-list-item">Shop</li>
                        <li class="footer-list-item">All Wines</li>
                        <li class="footer-list-item">Single vineyard selection</li>
                    </ul>
                    <ul class="footer-list">
                        <li class="footer-list-item">The Wines</li>
                        <li class="footer-list-item">Hermitage in 3D</li>
                        <li class="footer-list-item">The soul of M. CHAPOUTIER</li>
                    </ul>
                    <ul class="footer-list">
                        <li class="footer-list-item">Wine Tourism</li>
                        <li class="footer-list-item">Wine tasting services and visits</li>
                        <li class="footer-list-item">Bike ride</li>
                    </ul>
                    </div>
                    <div class="footer-two">
                    <p class="footer-two-text">2021 winemill</p>
                    <p class="footer-two-text">Privacy police</p>
                    </div>
                </div>    
            </div>
        </footer>
    </div>
</body> 
</html>