<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Button</title>
</head>
<body>
    <!-- Оболочка для демонстрации -->
    <div class="wrapper">
        <!-- Контент -->
        <a href="#" class="wave-btn">
            <!--span для текста-->
            <span class="wave-btn__text">Кнопка</span>
            <!--span для волн-->
            <span class="wave-btn__waves"></span>
        </a>
    </div>
</body>
</html>