/** color **/ 

$black: #000000;
$white: #FFFFFF;
$gray_one: #3A3A3A;
$gray_two: #616161;
$gray_three: #898989;
$gray_four: #B0B0B0;
$gray_five: #D8D8D8;
$banner_left: #F9F1E7;
$banner_right: #FCF8F3;
$primary: #E89F71;
$icon: #262F56;
$bg_main: #E5E5E5;
$red: #E97171;
$green: #2EC1AC;
$Light_BG: #F4F5F7;

/** font-family **/ 
$ff_gil: Gilroy;

/** font-size **/ 

$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz28: 28px;
$fz40: 40px;
$fz56: 56px;

/** container **/
$xl: 1236px;
$lg: 1140px;
$md: 960px;
$sm: 720px;
$xs: 320px;