<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="header__container container">
                <div class="header__body">
                    <div class="header__main">
                        <a href="" class="header__logo">Funiro.</a>
                        <div class="header__menu menu">
                            <nav class="menu__body">
                                <ul class="menu__list">
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Products</a>
                                        <button data-spoller type="button" class="menu__arrow icon-arrow-down"><i class="fas fa-chevron-down"></i></button>
                                        <ul class="menu__sub-link">
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Products #1</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Products #2</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Products #3</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Products #4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Rooms</a>
                                        <button data-spoller type="button" class="menu__arrow icon-arrow-down"><i class="fas fa-chevron-down"></i></button>
                                        <ul class="menu__sub-link">
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Rooms #1</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Rooms #2</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Rooms #3</a>
                                            </li>
                                            <li class="menu__sub-item">
                                                <a href="" class="menu__sub-link">Rooms #4</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu__item">
                                        <a href="#" class="menu__link">Inspirations</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__search">
                        <div class="search-form">
                            <button type="button" class="search-form-icon icon-search"></button>
                            <form action="#" class="search-form__item">
                                <button type="submit" class="search-form__btn icon-search"></button>
                                <input autocomplete="off" type="text" name="form[]" data-value="Search for minimalist chair" class="search-form__input">
                            </form>
                        </div>
                    </div>
                    <div class="header__actions actions-header">
                        <a href="" class="actions-header-item actions-header__item-favoritws icon-favorite"></a>
                        <div class="actions-header-item cart-header">
                            <a href="" class="cart-header__icon icon-cart"></a>
                            <div class="cart-header__body">
                                <ul class="cart-header__list cart-list"></ul>
                            </div>
                        </div>
                        <a href="" class="actions-header__item actions-header__item_user ibg">
                            <img src="" alt="Avatar">
                        </a>
                    </div>
                    <button type="button" class="icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <i class="fas fa-search"></i>
    <i class="fas fa-shopping-cart"></i>
    <i class="far fa-heart"></i>
    <i class="fas fa-chevron-right"></i>
    <i class="fas fa-chevron-left"></i>
    <i class="fas fa-arrow-right"></i>
    <i class="fas fa-project-diagram"></i>
    <i class="fas fa-location-arrow"></i>
    <i class="fas fa-phone-alt"></i>
    <i class="fas fa-map-marker-alt"></i>
</body>
</html>
