// color 

$while: #FFFFFF;
$while_gray: #FAFAFA;
$line: #414040;
$black: #000000;
$header: #0A0A0A;
$nav_menu: #E5E5E5;
$red: #7A0000;
$container: #1B1918;

// font-family 

$ff_int: 'Inter', sans-serif;
$ff_rob: 'Roboto';
$ff_ab: 'Alex Brush';
$ff_fd: 'FuturaDemiC';

// font-size

$fz6: 6px;
$fz7: 7px;
$fz8: 8px;
$fz9: 9px;
$fz11: 11px;
$fz12: 12px;
$fz14: 14px;
$fz18: 18px;
$fz21: 21px;
$fz24: 24px;
$fz38: 38px;
$fz48: 48px;

//container

$xl: 1290px;
$lg: 1140px;
$md: 960px;
$sm: 720px;
$xs: 320px;